.sliderIndicator img {
    border-radius: 0.5vw;
    max-width: 1vw;
    margin-left: 0.3vw;
}


.imgCanvas {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2vh;
}

.imgCanvas .imgWrapper {
    display: inline-block;
    margin: auto 0;
    padding: 1vw;
    cursor: pointer;
}

.imgContainer {
    overflow: hidden;
    width: 60vw;
}

.images {
    box-shadow: 0.1vw 0.2vw 1vw #888888;
    white-space: nowrap;
    transition: ease 1000ms;
}

.images .slide {
    display: inline-block;
    transition: transform 1s ease;
    /* Apply a transform transition for sliding */
    width: 60vw;
    height: 50vh;
    object-fit: cover;
}

.sliderIndicator {
    padding-top: 2vh;
    display: flex;
    justify-content: center;

}

.slideshowDot {
    opacity: 0.5;
}

.slideshowDot.active {
    opacity: 1;
}

img {
    cursor: pointer;
}