.canvas {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.tabCanvas {
	width: 80%;
	margin: auto;
}

.tabsContainer {
	display: flex;
	width: 1.5vw;
	gap: 0.5vw;
	/* margin-bottom: 0.2vh; */
}

.tab button {
	background: var(--secondary-color);
	padding: 0.4vw;
	border: 1px solid var(--neutral-dk);
	border-radius: 0.5vw 0.5vw 0 0;
	cursor: pointer;
	color: var(--primary-text);
	font-size: var(--secondary-text-sizes);

}

.tab button:hover {
	color: white;
}

.tab.activeTab button {
	background-color: var(--primary-color);
}

.listCanvas {
	background-color: var(--primary-color);

}

.ListContainer {
	background-color: var(--primary-color);
	width: 80%;
	margin: auto;
}

.tabsContainer {
	margin: auto 0;
	padding: 0;
	box-sizing: border-box;
	/* Additional styles as needed */
}


.listItem {
	background-color: var(--secondary-color);
}