@import 'theme.css';
body {
  background-color: var(--background-color);
}


.topBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.accountAction {
  height: 1vh;
  color: var(--secondary-text);
  font-size: var(--secondary-text-size);
}

.pageAction {
  height: 1vh;
  font-size: var(--primary-text-size);
}

.siteAction {
  justify-self: end;
}


#actionGroup {
  display: flex;
  justify-content: flex-start;
}